<div *ngFor="let product of products"> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{product.img}}" alt="Photo of a Shiba Inu">
    <mat-card-content>$ {{product.price}}</mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/products',product.id]">Detail</button>
        <button mat-button (click)="addToCart(product)">Cart</button>
      </mat-card-actions>
  </mat-card>
</div>
