
<h1>&#160;&#160;YOUR SHOPPING CART</h1>
<div class="cart-item" *ngFor="let item of items">
<br>
    <mat-card class="card">
    <b>Item:</b>    
    {{ item.name }}<br>
    <b>Price:</b>  
    {{ item.price}} &#160;&#160;&#160;&#160;
    <mat-form-field>
        <mat-label>Qty:</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
    <br>
    <mat-checkbox>This is a gift</mat-checkbox> &#160;&#160;
    <mat-checkbox>Donate it </mat-checkbox><br>
    <mat-form-field class="comment"> 
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="I want ..."></textarea>
    </mat-form-field>
    </mat-card>
</div>
<br><br>
  <a mat-raised-button color="primary" [routerLink]="'/shipment'" class="button"> Checkout </a>
