<div class="ourstory">
<h2>Our story</h2>
<p>
    We opened our first shop in Toronto's Corktown neighbourhood during the record-breaking cold weather of February 2015. We have been warming hearts ever since.

Today, we stay true to our humble beginnings. We are a team of passionate bakers and food lovers who work hard every day to serve quality pastries. What sets us apart is our love for our craft and our obsessive pursuit of excellence. We work with ingredients that spark joy and we bake fresh every day. We hope you can taste it in every bite of our pastries and feel it immediately when you walk through our doors. The undeniable smell of butter in the air. Our smiling staff. The professional and comfortable, maybe even familiar atmosphere we've cultivated. The details in all of our products: from the bite-sized caramels that we wrap individually by hand, to the flourish of chocolate garnish we make to finish our individual cakes. The proof is in the pudding!

Our menu is composed of modern French-inspired pastries adapted with playful local influences.  We are inspired by what we love to eat: happy memories from our childhood, our travels, and our shared meals with family and friends.
</p>
</div>
